absl-py
aiohappyeyeballs
aiohttp
aiosignal
altair
altgraph
annotated-types
anyio
astunparse
async-timeout
attrs
beautifulsoup4
blinker
cachelib
cachetools
certifi
cffi
charset-normalizer
click
colorama
comtypes
contourpy
cycler
dash
dash-bootstrap-components
dash-core-components
dash-extensions
dash-html-components
dash-player
dash-table
dataclass-wizard
dataclasses-json
defusedxml
distro
EditorConfig
exceptiongroup
Flask
Flask-Caching
flatbuffers
fonttools
frozenlist
gast
gitdb
GitPython
google-pasta
greenlet
groq
grpcio
h11
h5py
httpcore
httpx
httpx-sse
idna
importlib_metadata
itsdangerous
jax
jaxlib
Jinja2
jiter
jsbeautifier
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
keras
kiwisolver
langchain
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
langsmith
libclang
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mediapipe
ml-dtypes
more-itertools
multidict
mypy-extensions
namex
narwhals
nest-asyncio
numpy
openai
opencv-contrib-python
opencv-python
opt_einsum
optree
orjson
packaging
pandas
pefile
pillow
plotly
propcache
protobuf
pyarrow
PyAudio
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
Pygments
pyinstaller
pyinstaller-hooks-contrib
pyparsing
pypdf
python-dateutil
python-dotenv
pyttsx3
pytz
pywin32-ctypes
PyYAML
referencing
requests
requests-toolbelt
retrying
rich
rpds-py
scipy
sentencepiece
six
smmap
sniffio
sounddevice
soupsieve
SpeechRecognition
SQLAlchemy
streamlit
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-io-gcs-filesystem
tensorflow_intel
termcolor
toml
tornado
tqdm
typing-inspect
typing_extensions
tzdata
urllib3
watchdog
Werkzeug
wrapt
yarl
youtube-transcript-api
zipp
